#task-list li.sortable-chosen {
    background-color: #fcefc7;
    border-left: 4px solid #f59e0b;
}

#task-list li.sortable-ghost {
    opacity: 0.5;
}



.connected-sortable:hover {
    background-color: #f8f9fa;
    border: 1px dashed #ced4da;
}

.sortable-ghost {
    opacity: 0.5;
    background: #f0f0f0;
}

.sortable-chosen {
    background-color: #ffe8a1;
}
